<html>
    <body>
        <h1>Predict Default of Credit Card</h1>
        <form action= "/" method="post">
            <p>Please enter your income:</p>
            <p><input type ="number", step="1" name = "income"></p>
            <P>Please enter your age:</P>
            <p><input type="number", step="1"name = "age"></p>
            <P>Please enter your loan:</P>
            <p><input type="number", step="1"name = "loan"></p>
            <p><input type="submit" value="Enter"></p>
        </form>
        <p>{{result1}}</p>
        <p>{{result2}}</p>
        <p>{{result3}}</p>
        <p>{{result4}}</p>
        <p>{{result5}}</p>
    </body>
</html>